.bg-gradient {
    padding: 0;
    /*background: #D3CCE3; 
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
    background-size: cover;*/
    background: #F0F2F0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0F2F0, #050B26);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0F2F0, #050B26);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cambkg {
    background-image: url("../images/loginBack.jpg");
    background-size: cover;
    background-repeat: repeat;
    max-height: 100%;
    min-height: 700px;
}

.lgform {
    display: inline-block;
    margin-bottom: 150px;
}

.card-body {
    padding: 0;
    border-radius: 20px;
}

.login-form {
    margin-top: 150px;
}

.form-group input {
    padding-left: 50px;
    letter-spacing: 1px;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 7px 0 0 12px;
    color: #ddd;
}

.form-group input[type=text]:focus+i {
    color: dodgerblue;
}

.form-group input[type=password]:focus+i {
    color: #32CD32;
}

.ProdName {
    color: #F0033B;
    /*color:#ffde00;*/
    font-weight: bold;
    /*border-bottom: 1px solid darkblue;*/
    text-decoration: underline;
    text-decoration-color: darkblue;
    font-size: 35px;
    padding-bottom: 0px;
}

.form-control-user {
    height: 45px;
    padding: 5px;
    width: 300px;
}

.product {
    font-family: 'Vollkorn', serif, Bookman, monospace;
}

.login-form button {
    background-color: #AA0D58;
    color: #fff;
    width: 150px;
    padding: 10px;
    border: 0;
}

.login-form button:hover {
    background-color: #670007;
}

.login-form button:active {
    background-color: #650009 !important;
    border: 1px solid #AA0D58 !important;
}

@media screen and (max-width: 758px) {
    .form-control-user {
        width: 200px;
    }
}

/* Dashboard */

.bg-dashboard{
    padding: 0;
    background: #f2f4f4; 
    font-family: 'Rubik', sans-serif;
}

#sidebar{
    border-right:solid 1px #dfe3e7;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #8494a7;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* z-index: 999; */
    background: #f2f4f4;
    color: #8494a7;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    font-family: 'Rubik', sans-serif;
    padding: 20px 20px 0 20px;
    background: #f2f4f4;
}

#sidebar ul.components {
    padding:0 0 20px 20px;
    font-family: 'Rubik', sans-serif;
    /* border-bottom: 1px solid #47748b; */
}
.dashboard-logo{
    height:35px;
    width:35px;
    float:left;
    margin-right:5px;
}


#sidebar ul p {
    color: silver;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: dodgerblue;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(48, 44, 44);
    background: #f2f4f4;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f2f4f4;
}

.wrapper {
    display: flex;
    width: 100%;
}

.brandname {
    color: #F0033B;
    /*color:#ffde00;*/
    font-weight: bold;
    /*border-bottom: 1px solid darkblue;*/
    text-decoration: underline;
    text-decoration-color: darkblue;
    font-size: 30px;
    padding-bottom: 0px;
}
.dashboard-btn-wrap{
    padding:10px;
}

.dashboard-button{
    display:relative;
    width:100%;
    font-family: 'Rubik', sans-serif;
    justify-content: center;
    text-align:center;
    border:1px solid #dfe3e7;
    color:#8494a7;
    font-size:15px;
}

.dashboard-button:hover{
    color:dodgerblue;
    background-color:#fff;
    border:1px solid white;
}

.dashboard-button i{
    float:left;
    font-size:20px;
}
